In [3]:
# list is a collection which is ordered and changable. in python lists are written in th esquare berakets
li1=['apple', 'banana','cherry','orange','guava']
li2=['tomato','potato','brinjal','cabage']
print(li1[0:3])
li1.extend(li2)
print(li1)
li1.append('lichi')
print(li1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange', 'guava', 'tomato', 'potato', 'brinjal', 'cabage']
['apple', 'banana', 'cherry', 'orange', 'guava', 'tomato', 'potato', 'brinjal', 'cabage', 'lichi']

In [15]:
li1.insert(2,'watermelon')
print(li1)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'guava', 'tomato', 'potato', 'brinjal', 'cabage', 'lichi']

In [11]:
print(li1.index("banana"))

1

In [26]:
li3=['apple', 'banana','cherry','orange','watermelon','guava']
li3.remove("watermelon")
print(li3)

['apple', 'banana', 'cherry', 'orange', 'guava']

In [30]:
del li3[3]
print(li3)

['apple', 'banana', 'cherry']

li3.clear()
print(li3)

In [32]:
li3.clear()
print(li3)
print(type(li3))

[]
<class 'list'>

In [25]:
l1=['a','b','c','d']
l2=[2,3,5,67]
print(l1+l2)

print(l1.copy())

['a', 'b', 'c', 'd', 2, 3, 5, 67]
['a', 'b', 'c', 'd']

In [45]:
list1 = [2,4,56,7,8,6,5]
list1.reverse()
print(list1)

[5, 6, 8, 7, 56, 4, 2]

In [55]:
list1.sort()
print(list1)
print(len(list1))

[2, 4, 5, 6, 7, 8, 56]
7

In [75]:
s1={'monday','tuesday','wednesday','thirsday','friday'}
s1.discard('saturday')
s1.remove('tuesday')
print(s1)

{'friday', 'wednesday', 'monday', 'thirsday'}

In [87]:
thisdisc= {
    "bird":"flying",
    "dog" :"walking",
    "monkey":"climing"
}
print(thisdisc)
print(thisdisc["dog"])
print(thisdisc.get("dog"))

{'bird': 'flying', 'dog': 'walking', 'monkey': 'climing'}
walking
walking

In [93]:
thisdisc["monkey"]="running"
print(thisdisc)

{'bird': 'flying', 'dog': 'walking', 'monkey': 'running'}

In [6]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
# =============== find even number in the list====================
list1 =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in list1:
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [15]:
#=======================find the odd number in the list================
list1 =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in list1:
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [54]:
a = 123321
b=str(a)
c=b[::-1]
if b == c:
    print("yes the number is pelindrom")
else:
    print(" NO the number is not palindrom")

yes the number is pelindrom

In [82]:
x=str(123453545678864)
y=x[0:13:2]
print(y)

1355578

In [92]:
a='string' # string cant be converted into in float
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'string'

In [98]:
int(3+5j)
float(1+3j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [104]:
list(1234) #we can not convert non string or literal into list or tuple
tuple(1234)

TypeError: 'int' object is not iterable

In [140]:
int({'mp':'bhopal','panjab':'chandigard'})  #cant convert dict into int float directly
float({'mp':'bhopal','panjab':'chandigard'})

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'dict'

In [146]:
int({1,2,3,4}) 
float({1,2,3,4})  # cant convert set direct into int float

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'set'

In [150]:
int(None) # cant converts None type into int float

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [154]:
chr("asd") #cant convert string into char value

TypeError: 'str' object cannot be interpreted as an integer