In [1]:
#================OPERATORS===================

In [2]:
a='34.5'
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: '34.5'

In [9]:
a=[2,4,6]
b=int(a)
print(b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [25]:
#================== types of operators ================
# arithmetic operators:- +,-,/,*
#Logical operators :- and or not 
#relational operators:- 
#Identity operator
#membership operator
#assignment operator
#

'\n'

In [21]:
#====================floor division========
a=23//4
print(a)
b=23/4
print(b)

5
5.75

In [23]:
# ==============assignment operators==============

In [43]:
a=109834
# a=a%10
# a=a//10
print(a)
a=str(a)
len(a)

109834

6

In [47]:
print(len.__doc__)

Return the number of items in a container.

In [51]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [63]:
a=int()
a

0

In [57]:
print(zip.__doc__)

zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.

In [67]:
#===========relational operators======
# <,>,==,<=,>=,!=

In [71]:
a=23>45
a

False

In [77]:
a=24>=34
a

False

In [81]:
a=25!=25
a

False

In [85]:
a=23!=43
a

True

In [ ]:
#===============Logical operators===============

In [89]:
a = not(23)
a

False

In [95]:
a= not 12!=34
a

False

In [99]:
#====== logical operaato==========
23 and 45

45

In [103]:
23 and 0 and 34

0

In [107]:
23 or 0

23

In [113]:
a = 23>20 and 23<40
a

True

In [121]:
a = 23>20 or 23>40
a

True

In [123]:
a= True or True and False
a

True

In [125]:
a=2*2+4
a

8

In [135]:
b=1
a= 2< 3 and 5<b or 100>4
a

True

In [151]:
#============= Identity operators ---> is
a=32
b=32
print(id(a))
print(id(b))
c= a==b
print(c)
d=a is b
print(d)

140716442621704
140716442621704
True
True

In [155]:
a=[32,54,56]
b=[32,54,56]
print(id(a))
print(id(b))
c= a==b
print(c)
d=a is b
print(d)

1797833630208
1797833627520
True
False

In [159]:
#=========== membership operator===========
a= ' I am reading book of python programming '
b= 'am' in a
print(b)

True

In [163]:
c=[23,45,67,54,234,'hello']
b= 'hello' in c
print(b)

True

In [165]:
c=[23,45,67,54,234,'hello']
b= not 'hello' in c
print(b)

False

In [167]:
#============= string and methods ==============

In [173]:
# way to declare a string
a='test string 1'
b="test string 2"
c=''' multipl eline string
we can delare 
in this 
single triple quotes
'''
d=""" another 
type 
of definnig 
multiple string
"""
print(a)
print(b)
print(c)
print(d)
c
d

test string 1
test string 2
 multipl eline string
we can delare
in this
single triple quotes

 another
type
of definnig
multiple string

' another \ntype \nof definnig \nmultiple string\n'

In [179]:
d

' another \ntype \nof definnig \nmultiple string\n'

In [191]:
e= 'this is\
newline\
of string\
hello'
print(e)

this isnewlineof stringhello

In [199]:
a= 'this is \ntest string'
print(a)
a

this is
test string

'this is \ntest string'

In [203]:
b= 'this is \ttest string'
print(b)
b

this is 	test string

'this is \ttest string'

In [207]:
a= 'this is my\btest string'
print(a)
a

this is mtest string

'this is my\x08test string'

In [209]:
a= 'this is  my\b\btest string'
print(a)
a

this is  test string

'this is  my\x08\x08test string'

In [211]:
a= 'this is rohan\'s pen'
print(a)
a

this is rohan's pen

"this is rohan's pen"

In [213]:
 a = 'this is test\r'
print(a)

this is test

In [225]:
a= 'This is test\rRAMA'
print(a)

RAMA is test

In [231]:
#================= loop  ===============
# for is for iteration of sequence data or collection data (both same )
# in python like other language there is no need to initiate ,
# a termination condition and increament or decrement for for loop . beacause it runs till compleation of iteration of 
# # for i in

In [239]:
l1 = ['ram', 'shyam','aayush','rohit' , 'pankaj']
for i in l1:
    print(i)

ram
shyam
aayush
rohit
pankaj

In [243]:
l1 = 'I am a good boy'
for i in l1:
    print(i)

I

a
m

a

g
o
o
d

b
o
y

In [253]:
l1 = ['ram', 'shyam','aayush','rohit' , 'pankaj']
for i in l1:
    if i=='rohit':
        break
    print(i)

ram
shyam
aayush

In [257]:
l1 = ['ram', 'shyam','aayush','rohit' , 'pankaj']
for i in l1:
    if i=='rohit':
        continue
    print(i)

ram
shyam
aayush
pankaj

In [261]:
a= 'Dilip'
'i' in a

True

In [265]:
for i in l1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [287]:
li1=['priya','khushi','pinky','mohan','komal','sarang']
for i in li1:
    if 'i' in i:
        continue
    print(i)

mohan
komal
sarang

In [295]:
li1=['priya','khushi','pinky','mohan','komal','sarang']
for i in li1:
    if 'i' in i:
        print(i)

priya
khushi
pinky

In [301]:
li1=['priya','khushi','pinky','mohan','komal','sarang']
for i in li1:
    if not 'i' in i:
        print(i)

mohan
komal
sarang

In [ ]:
#==============while loop==============

a=1
while a<11:
    if a==7:
        continue
    print(a)
    a+=1

1
2
3
4
5
6

In [5]:
a=0
while a<11:
    a+=1
    if a==7:
        continue
    print(a)

1
2
3
4
5
6
8
9
10
11