In [2]:
#===========loop practice questions =================#

In [6]:
#=============== for Loop=============================

In [16]:
for i in range(1,11):
    print(i)
    if i%7==0:
        break
        print(i)
else:
    print('loop is compleate')
print('this loop is compleated')

1
2
3
4
5
6
7
this loop is compleated

In [20]:
for i in range(1,11):
    print(i)
    # if i%7==0:
    #     break
    #     print(i)
else:
    print('loop is compleate')
print('this loop is compleated')

1
2
3
4
5
6
7
8
9
10
loop is compleate
this loop is compleated

In [22]:
# Note: if all itereation of for loop is compleated without any break then else will be executes oterwise not.

In [36]:
# number is prime or not
for i in range(3,21):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

3
5
7
11
13
17
19

In [ ]:
# i=int(input("enter a number"))
# for j in range(2,i):
#         if i%j==0:
#             print("not prime")
#             break
# else:
#         print("prime")

In [ ]:
n=1
while n<11:
    if n==5:
        break
        print(n)
        n+=1
else:
    print("while loop is compleated")
print("this is a normal print")

In [3]:
n = int(input('enter a number you want to table:'))
r =int(input("enter number upto print:"))
i=1
while i in range(n,r):
    print(n,"X",i,"=",n*i)

enter a number you want to table: 12
enter number upto print: 15

In [9]:
n = int(input('enter a number you want to table:'))
i=1
while i <=15:
    print(n,"X",i,"=",n*i)
    i+=1

enter a number you want to table: 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30

In [ ]:
n = int(input('enter a number you want to table:'))
i=1
while i<=15:
    a=n*i
    if a%10==5 or a%10==7:
        print(n,"x",i,"=",n*i)
    i+=1

In [27]:
for i in range(1,10):
    if i%2==0:
        print(i)
else:
    print("loop compleated")

2
4
6
8
loop compleated

In [33]:
eve= 0
odd =0
n=1
while n<=10:
    if n%2==0:
        eve+=1
    else:
        odd+=1
    n+=1
print('even=' , eve)
print('odd=' , odd)

even= 5
odd= 5

In [ ]:
n=0
n1=1

In [24]:
salary=[100000,90000,100000,200000,50000,100000,50000,70000,50000,50000,50000,50000,50000]
print(salary)

[100000, 90000, 100000, 200000, 50000, 100000, 50000, 70000, 50000, 50000, 50000, 50000, 50000]

In [60]:
num_employees=int(input("enter number of employees"))
total_salary=0
for i in range(num_employees):
    salary=int(input(f"enter salary of employee {i+1}="))
    total_salary+=salary
    i+=1
average_salary=total_salary/num_employees
print("average salary =",average_salary)

enter number of employees 5
enter salary of employee 1= 100
enter salary of employee 2= 23
enter salary of employee 3= 465
enter salary of employee 4= 76
enter salary of employee 5= 80

average salary = 148.8
 greater than averagem= 0
less than average =  80
exact average salary = 0

In [63]:
print(salary)

80